/*Home page style*/
.home-image{
   width: 90%;
   height:90%;
   box-sizing: border-box;
   margin-top: 3rem;  
}
.home-left-side{
    height:100%;
}
.home-text{
    text-align: center;
}
/* .carousel-inner > .carousel-item> img {
width:640px;
height: 360px;
} */
/* .w-100 {
    width: 100% !important;
  }*/
/* .carousel{
    width: 90%;
    height:90%;
    box-sizing: border-box;
    margin-top: 3rem;  
  }
  .carousel-inner{
   border: 1px;
  }  */
/* .carausel-item img{
  object-fit: cover;
  object-position: center;
  height:50vh;
  overflow: hidden;
} */


