/**Navbar**/
.navbar-brand img{
  width:50px;
}
/*Home page style*/
.home-image{
   width: 90%;
   height:90%;
   box-sizing: border-box;
   margin-top: 3rem;
   border-radius: 1rem;  
}
.card-body{
    border-color:1px solid  black;
}
.home-left-side{
    height:100%;
}
.home-text{
    text-align: center;
}
.btn-mint{
width:150px;
border-color: aliceblue;
border-radius: 10px;
}
/*****Team*****/
.gallery {
    border: 3px solid #ccc;
    border-radius: 10px;
    margin:.5rem .5rem .5rem; 
  }
  .gallery:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.9);
  }
  .gallery img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    width: 100%;
    height: auto;
  }
  .desc {
    padding: 15px;
    text-align: center;
    color:#fff;
    font-weight: 300;
  }
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  /**Unicorns**/
  #unicorn h2{
    font-size: 35px;
    text-shadow: 5px 5px 2px rgba(0,0,0,.3);
  }
   .collection-img img{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
   }
   .collection-img:hover{
    box-shadow: 0 4px 4px;
   }
   .brighten img {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    }
    .brighten img:hover {
    -webkit-filter: brightness(100%);
    }
  /**Roadmap**/
  .main-container{
    display: flex;
    justify-content: center
}
.roadmap-container{
    /* background: #0a1225; */
    background:#294D6D;
    padding:20px;
    border-radius: 10px;
    width:90%;   
}

.single__roadmap{
position:relative;
padding:10px 30px;
z-index:79;
}
.single__roadmap::before{
    position:absolute;
    top:0;
    left:0;
    width: 1px;
    height: 100%;
    content: "";
    background: #7865ff;
    color:#7865ff;
    z-index:80;
}
.roadmap__icon{
    position: absolute;
    top:7px;
    left: -10px;
    color:#7865ff;
    font-size: 1.2rem;
    z-index:80;
}
.single__roadmap h5{
    font-size: 1.2rem;
    margin-bottom: 15px;
    color:#fff;
}
.single__roadmap p{
    font-size: .9rem ;
    margin-bottom: 15px;
    color:#fff;
}
/**Footer**/
footer{
  background: #212529;
}



  

