@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    /* background:linear-gradient(to left bottom, #e44b90,#151e74,#d45c92) ; */
    /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
    background-image: url("./components/images/bright-g851ce0ea8_1920.jpg");
  }
  html{
    scroll-behavior: smooth;
  }
  h1,h2,h3,h4,h5,h6{
    color:#fff;
    font-family:"Lato",sans-serif;
    margin: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;  
  }
  h1,h2{
    font-size: 2rem;
    font-weight: 500;
  }
  p{
    color:#fff;
    opacity: 75%;
    font-size: 1rem;
    font-family: "Rubik" sans-serif;
    font-weight: 400;
  }
  ul{
    list-style: none;
    margin: 0;
  }
  a{
    color:unset;
    font-family: "Lato" sans-serif
  }
  a:hover{
    color:unset;
    font-family:"Lato" sans-serif
  }
  section,footer{
    padding: 60px 0px;
  }
  .home-header{
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 5px 5px 2px rgba(0,0,0,.3);
  }
  .btn-home{
    font-size: 18px;
    font-weight: 700;
    cursor:pointer;
    background-color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.6);
    border-radius: 5px;
    box-shadow: 0 4px 4px;
    width:150px;
    color:rgb(1, 88, 88);
  }
  .btn:hover{
    background-color: rgba(255,255,255,.7);
    box-shadow: 0 4px 4px;
    transition: all 300ms ease;
  }
  .home-image{
    /* box-shadow:0 4px 4px; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  @media only screen and (max-width: 400px) {
    .home-header{
      margin-top: 3rem;
    }
    .collection-img{
      margin: .5rem;
     }
  }
  @media only screen and (max-width: 767px) {
    .home-header{
      margin-top: 3rem;
    }
    .collection-img{
     margin: 1rem;
    }
  }